

input[type=text]{
  margin: center;
    max-width: 714px;
    margin: 0 auto;
    position: fixed;
    left: 335px;
    top: 530px;
    width:55%;
    height: 50px;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    unicode-bidi: bidi-override;
    flex-wrap: wrap;
    
  }
  
  
  input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
    .enviar{
      width: 80px;
        height: 50px;
        position: fixed;
        top: 539px;
        left: 1050px;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
        color: black;
        
        background-color: transparent;
        border-radius: 4px;
        border:transparent;
    }
    
    
    li{
      
        
        list-style-type:none;
    }
    span{
      position: relative;
      top: -20px;
      color: #383A3C;
      font-size: 12px;
    }
    
    .contenedor{
        width: 60vw;
        max-width: 1235px;
        margin: auto;
        margin-top: 100px;
        background: #5D6D7E;
        padding: 15px;
        height: 400px;
        overflow: auto;
        border-radius: 10px;
        position: relative;
        left: 15%;
        top: -60px;
        
        
    }
  
    .ben{
      color: black;
      position: relative;
      left: -30px;
    }
    
    

    body {
        background-color: white ;
      }
      
      
        p{ 
          position: relative;
          top: 8px;
            color: black;
        }
      /*mensajes de usuarios*/
      .hola{
        font-size: 15px;
        font-family: Arimo;
        color: black;
        position: relative;
        top: -15px;
      }
      
      
      .container{
        position: fixed;
      }
      
      
      
      form button {
       
        width: 20%;
        background-color: rgb(56, 56, 143);
      }
      
      button{
        position: relative;
        left: 400px;
      }
      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      
      
      .sign-in {
        color: #282c34;
        background: white;
        max-width: 400px;
        margin: 0 auto;
      }
      /*contenedor de los mensajes */
      .todo{
        margin: center;
        max-width: 728px;
        margin: 0 auto;
        width: 50%;
         border-radius: 10px;
        background-color: #85C1E9 ;
      }
      /*imagen del usuario*/
      img{
        position: relative;
        top: 10px;
        border-radius: 50%;
      }
      
     button{
       background-color: transparent;
       width: 170px;
       height: 50px;
       border-radius: 5px;
       position: relative;
       top: -10px;
       border: transparent;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 20px;
     }
     button:hover{
       background-color: #1080CB ;
       border-radius: 5px;
       border: transparent;
     }

     /*contenedor*/
     header{
       width: 125%;
       left: 0px;
       right: 0px;
       background-color: white;
       box-shadow: 0px 0px 10px black;
       position: relative;
       top: -30px;

     }

     /*h3 del headder*/
     h3{
       position: relative;
       left: -500px;
       right: 120px;
       top: 30px;
       color: black;
     }
      
      .inicio>button{
        font-family: Bahnschrift SemiCondensed;
        position: absolute;
        left: 550px;
        top: 290px;
        background-color: #85C1E9 ;


      }
      
      .inicio>button:hover{
        
        font-family: Bahnschrift SemiCondensed;
        background-color: #3498DB;
        border-radius: 5px;
        
        box-shadow: 0px 0px 10px red;
      }
      h4{
        font-family: Blackadder ITC;
        font-size: 30px;
      }
     