body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  h3{
    color: white;
  }
  
  button{
    position: absolute;
    left: 650px;
    
    display: block;
    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 65px;
    margin-bottom: 60px;
    overflow: hidden;
    color:rgba(255,255,255,1);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
    transition: all ease 0.5s;
    background:rgba(0,0,0,0.5);
  }
   
  button::after,
  button:before{
    width: 80px;
    height: 200px;
    content: '';
    display: block;
    background: rgba(255,255,255,0.5);
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right:-45%;
    cursor: pointer;
  }
   
  button:before{
    left: -48%;
  }
   
  button:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#12C987;
  }
   
  button:hover:after,
  button:hover:before{
    transform: rotate(45deg), scaleX(130%);
    background: rgba(255,255,255,0.1);
    transition: all ease 0.5s;
  }
   
  button:hover:after{
    right: 130%;
  }
   
  button:hover:before{
    left: 130%;
    
  }
li{
  
  color: antiquewhite;
}
p{
  font-size: 18px;
  font-family: Broadway;
  color: #fd1532;
}
h1{
  color: aliceblue;
}